#container {
    font-weight: bolder;
    font-size: large;
    display: table-cell;
    vertical-align: middle;
    padding-bottom: 20px;
}

a {
    text-decoration: none;
    color: black;
}

body {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    display: table;
    height: 100%;
    width: 100%;
    margin: 0;
}

h1 {
    padding: 0px;
    margin: 0px;
    color: lightgray;
}

#dotw {
    font-weight: bolder;
    font-size: xx-large;
}


#langSelect {
    display: none;
    position:absolute;
    bottom:0;
    left: 0;
    width:100%;
    height:30px;   /* Height of the footer */
}
